extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Fredrik Johansson

        p.lead.text-light
          | Passionate Frontend Developer

        .portfolio-bio
          p
            | Frontend Developer with strong skills in JavaScript and an eye for UI design.
            | I am a good communicator which makes me a strong team-member. But I also do like to work alone. I have several side-projects I tend to work on, which. Some I do pair-programming on.
          p
            | If you're interested in working with me. Be sure to contact me through social media or any other way. You can find my contact info to the right at this page.
          p.bold
            | Best Regards, Fredrik
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li JavaScript
          li Express
          li jQuery
          li Git
          li CSS (SCSS)
        h6 Contact Info

        ul
          li 076-1251377
          li fjohanssondev@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/fredrik-johansson-50494a127/' target='_blank') LinkedIn
        a.button.expanded(href='https://github.com/fredrikjohanssonnn' target='_blank') GitHub
        a.button.expanded(href='https://twitter.com/fjohanssondev' target='_blank') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  