extends layout

block content
    .grid-container.center
        h1.bold Page #{status}
        h2.bold #{message}
        p Oops! Something wen't wrong. Please check that the URL is entered correctly.
        a(href='/').learn Go back to home
        br
        p.bold This error was logged to the console
        div #{stack}