extends layout

block content
    .grid-container.center
        h1.bold Page #{status}
        h2.bold= message
        p It seems that the URL you're trying to visit is missing! Either it has been moved, removed or never existed. Check the URL and try again.
        a(href='/').learn Go back to home
        br
        p.bold This error was logged to the console
        div #{stack}